<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<div class="calendar-part">

  <div class="new-day">
    <%= link_to '活動日を登録する', new_event_path, class: "day-regist"%>
  </div>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <%= event.title.name %>
    </div>
    <div>
      <% if event.meeting_time.id != 2 %>
        <%= event.meeting_time.name %>〜
      <% end %>
    </div>
  <% end %>

<% end %>

</div>